* {
    background-color: rgb(245, 230, 205);
    box-sizing: border-box;
    margin: 0%;
}

.logo {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 2px;
}

head {
    display: flex;
    justify-content:flex-end ;
    max-width: 40%;
    margin-top: 2%; 
}

header li {
    width: 90vw;
    margin-top: 10px;
    margin-bottom: 25px; 
    margin-left: 2vw;
    margin-left: 2vw;
    padding: 5px;
    list-style: none;
    font-family: monospace;
    font-size: small;
    color: rgb( 120, 44, 24);
    border: solid rgb(91, 121, 84) 3px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-top: 25px;
    font-family: "lust-script", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb( 120, 44, 24);
}

ul {
    display: flex;
    justify-content: center;
    text-decoration: rgb(91, 121, 84);
}

li {
    justify-content: center;
    margin-right: 2em;
    margin-bottom: 2em;
}

main {
    text-align: center;
    align-items: center;
    border-image-width: 30%;
}

.ik {
    display: block;
    justify-content: center;
    margin-top: 15px;
    font-family: monospace
}

.p {
    width: 90vw;
    margin-top: 10px;
    margin-bottom: 25px; 
    margin-left: 5vw;
    padding: 15px;
    font-family: monospace;
    border: solid rgb(91, 121, 84) 3px;
    border-radius: 10px;
}

#kilo {
    margin-top: 25px;
    margin-bottom: 2px; 
    display: block;
    justify-content: center;
}

#maps li {
    display: flex;
    justify-content: center;
    margin-top: 1vw;
    font-size: x-small;
    text-decoration: none;
}

.verhaal { 
    width: 90vw;
    margin-top: 10px;
    margin-bottom: 25px; 
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 15px;
    font-family: monospace;
    border: solid rgb(91, 121, 84) 3px;
    border-radius: 10px;
}

#catwalk {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    font-family: "lust-script", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb( 120, 44, 24);
}

.outfit-1 {
    display: flex;
    justify-content: center;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vw;
    margin-bottom: 45px;
}

.outfit-1-verhaal {
    width: 90vw;
    margin-top: 10px;
    margin-bottom: 25px; 
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 15px;
    font-family: monospace;
    color: black;
    font-weight: 100;
    border: solid rgb(91, 121, 84) 3px;
    border-radius: 10px;
}

#kilo {
    display: inline-block;
}

#reviews {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    font-family: "lust-script", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb( 120, 44, 24);
}

.reviews {
    display: block;
    justify-content: center;
    width: 90vw;
    margin-top: 15px;
    margin-left: 5vw;
    padding: 15px;
    font-family: monospace;
    font-size: medium;
    color: black;
    font-weight: 100;
    border: solid rgb(91, 121, 84) 3px;
    border-radius: 10px;
}

footer {
    background-image: url("../images/footer.png");
    text-align: center;
}

footer p {
    all: unset;
    font-size: xx-small;
    font-family: monospace;
}

footer section {
    display:flex ;
    justify-content: center;
    background-color: rgb(91, 121, 84);
    margin-bottom: 15px;
}

footer img {
    width: 16px;
}
